<div class="card">
  <form>
    <h5 class="generator-input-title">Enter Parameter Values for generator {{ id + 1 }}</h5>
    <input
      name="A_parameter"
      placeholder="Enter A_parameter value"
      type="number"
      min="0"
      [(ngModel)]="A_parameter"
      (ngModelChange)="change()"
    />
    <input
      name="B_parameter"
      placeholder="Enter B_parameter value"
      type="number"
      min="0"
      [(ngModel)]="B_parameter"
      (ngModelChange)="change()"
    />
    <input
      name="C_parameter"
      placeholder="Enter C_parameter value"
      type="number"
      min="0"
      [(ngModel)]="C_parameter"
      (ngModelChange)="change()"
    />
    <input
      name="F"
      placeholder="Enter F value"
      type="number"
      min="0"
      [(ngModel)]="F"
      (ngModelChange)="change()"
    />
    <input
      name="Pmin"
      placeholder="Enter Pmin value"
      type="number"
      min="0"
      [(ngModel)]="Pmin"
      (ngModelChange)="change()"
    />
    <input
      name="Pmax"
      placeholder="Enter Pmax value"
      type="number"
      min="0"
      [(ngModel)]="Pmax"
      (ngModelChange)="change()"
    />
    <h5 class="Alert" [ngStyle]="{ display: displayAlert }">All feilds required!!</h5>
  </form>
</div>

<!--<div class="card">
  <h5 class="card-header">Input Parameter Values for generator {{ id + 1 }}</h5>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">A_parameter</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="A_parameter"
            (ngModelChange)="change()"
            placeholder="Enter A_parameter value"
            name="A_parameter"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">B_parameter</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="B_parameter"
            (ngModelChange)="change()"
            placeholder="Enter B_parameter value"
            name="B_parameter"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">C_parameter</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="C_parameter"
            (ngModelChange)="change()"
            placeholder="Enter C_parameter value"
            name="C_parameter"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pmin</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="Pmin"
            (ngModelChange)="change()"
            placeholder="Enter Pmin value"
            name="Pmax"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pmax</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="Pmax"
            (ngModelChange)="change()"
            placeholder="Enter Pmax value"
            name="Pmin"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">F</label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="F"
            (ngModelChange)="change()"
            placeholder="Enter F value"
            name="F"
          />
        </div>
      </div>
    </form>
  </div>
</div>-->
