@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");



.generator-input-title {
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  color: #2A293E;
  text-align: center;
}
form{
  width: 400px;
}
