<div class="card">
  <form>

    <h5 class="generator-input-title">Enter Parameter Values for generator {{ id + 1 }}</h5>

    <input
      name="A_parameter"
      placeholder="Enter A_parameter value"
      type="number"
      min="0"
      [(ngModel)]="A_parameter"
      (ngModelChange)="change()"
    />

    <input
      name="B_parameter"
      placeholder="Enter B_parameter value"
      type="number"
      min="0"
      [(ngModel)]="B_parameter"
      (ngModelChange)="change()"
    />

    <input
      name="C_parameter"
      placeholder="Enter C_parameter value"
      type="number"
      min="0"
      [(ngModel)]="C_parameter"
      (ngModelChange)="change()"
    />

    <input
      name="F"
      placeholder="Enter F value"
      type="number"
      min="0"
      [(ngModel)]="F"
      (ngModelChange)="change()"
    />

    <input
      name="Pmin"
      placeholder="Enter Pmin value"
      type="number"
      min="0"
      [(ngModel)]="Pmin"
      (ngModelChange)="change()"
    />

    <input
      name="Pmax"
      placeholder="Enter Pmax value"
      type="number"
      min="0"
      [(ngModel)]="Pmax"
      (ngModelChange)="change()"
    />
    <h5 class="Alert" [ngStyle]="{ display: displayAlert }">All feilds required!!</h5>
  </form>
</div>


