h1{
text-align: center;
  font-size: 35pt;
  font-family: "Fjalla One";
  color: black;
  padding-bottom: 20px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  min-height: 103%;
}

.generator-input-title {
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  color: #2A293E;
  text-align: center;
}

.Alert{
  color: #ff5f5f;
  font-size: 14pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  text-align: center;
}

p{
text-align: center;
  font-size: 12pt;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2A293E;
  font-weight: bold;
}
.madeby{
  font-weight: lighter;
  font-size: 12pt;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2A293E;
}
.Intro{
  text-align: center;
  align-items: center;
  align-content: center;
  padding-bottom: 40px;
}

.madewith {
  margin: auto 0;
  text-align: center;
  color: black;
  overflow: hidden;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
}
.made{
  display: block;
  text-align: center;
}

.body{
  display: flex;
  flex-direction: column;
}

.temp{
  margin-bottom: 20px;
}

input[type="file"]{
  display: block;
  margin: 0 auto;
  line-height: 0pt;
}

.btn{
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  border-radius: 0;
}

.btn:hover{
  background: black;
  color: white;
  border: 1px solid black;
}
